body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    user-select: none;
    background-color: black;
    flex-direction: column;

    /* background: linear-gradient(25deg, #004cff, #ff0000, #cfcfcf);
    background-size: 400% 400%;
    background-attachment: fixed;

    /* Animatsiyani bitta qatorda yozamiz */
    /* animation: neonFlow 15s ease infinite; */
}

.bodyForAnimation {
    position: fixed;
    /* right: 0;
    bottom: 0; */
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    filter: blur(5px);
    width: auto;
    filter: blur(12px);
    height: auto;
    z-index: -100;
    /* Videoni barcha elementlardan orqaga o'tkazadi */
    object-fit: cover;
    /* Videoni cho'zib yubormasdan, fonga chiroyli moslaydi */
    background-size: cover;
}

.soat {
    display: flex;
    opacity: 0;
    position: relative;
    flex-direction: column;
    user-select: none;

    transition: 0.88s;
}

.friendTimes {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    display: flex;
    color: white;
    text-shadow: 0px 0 5px white;
}

.friendNums {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: absolute;
    color: white;
}

.milSec {
    text-shadow: 0px 0px 5px rgb(182, 181, 181);
    color: rgb(182, 181, 181);
}

.day {
    text-shadow: 0px 0px 5px lightgreen;
    color: lightgreen;
}

.xabarMatni {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 800;
    display: none;
    color: white;
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translateY(455px, -255px);
    transition: 0.52s;
}

@keyframes neonFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.loadingVid {
    opacity: 1;
    border-radius: 555px;
    position: absolute;
    top: 5px;
    filter: brightness(105%);
    right: 5px;
    transition: 0.45s;

    width: 80px;
}

.my-logo {
    position: absolute;
    color: white;
    user-select: none;
    text-shadow: 0px 0px 10px white;
    top: -10px;
    animation-name: myLogoAnimation;
    animation-duration: 13s;
    z-index: 100;
    animation-iteration-count: 1;
    right: 10px;
}

@keyframes myLogoAnimation {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translateX(-120px);
        color: gold;
        text-shadow: 0px 0px 10px yellow;

    }

    40% {
        transform: translateY(120px);
        color: rgb(0, 136, 255);
        text-shadow: 0px 0px 10px rgb(0, 136, 255);
    }

    50% {
        transform: translateX(-1px);
        color: antiquewhite;
    }
}

@keyframes boxShadowAnim {
    10% {}
}

.animationDum {
    position: absolute;
    width: 600px;
    box-shadow: 0px 0px 15px 5px white;
    opacity: 0;
    /* display: none; */
    transition: 1.85s;
}
.animationDum1{
    display: none;
}
.FullScreenbtn {
    background: none;
    border: solid 1px #00000071;
    font-size: 20px;
    border-radius: 5px 5px 12px 5px;
    display: flex;
    margin-left: auto;
    box-shadow: 0px 0px 10px 3px white inset;
    padding: 5px 15px;

    transition: 0.45s;
}

/* .networks {
    background: none;
    cursor: pointer;
    border: grey solid 1px;
    padding: 5px 15px;
    border-radius: 5px;
    opacity: 0;

    transition: 0.15s;
    font-size: 18px;
    color: white;
} */

.buttonsDad {
    position: absolute;
    bottom: 355px;
    display: flex;
    transition: 0.55s;
}

/* .networks:hover {
    background: white;
    color: black;
    border: solid white 1px;
    box-shadow: 0px 0px 15px 2px white;
} */


.bodyMediaFor{
    display: none;
}

.buttonsDad {
    display: flex;
    gap: 25px;
}
.animationDum1{
    opacity: 0;
}
.animationDum1{
    transition: 0.50s;
    position: absolute;
    clip-path: inset(85px 0px 80px 0px round 220px);
}
@media (max-width: 431px) {
    .animationDum1 {
        box-shadow: 0px 0px 15px 5px white;
        width: 222px;
    }
    .friendNums>h2{
        text-shadow: 0px 0px 10px black;
    }
    .FullScreenbtn{
        display: none;
    }

    .animationDum{
        display: none;
    }

    .soat::before {
        display: none;
    }

    .bodyForAnimation {
        display: none;
    }
    .animationDum1{
        display: block;
    }
    .bodyMediaFor{
        display: block;
    }

    .friendTimes {
        font-size: 18px;
        margin-top: 25px;
        text-align: center;
    }
    .FullScreenbtn:hover{
        display: none;
    }
    .loadingVid{
        margin-top: 25px;
        width: 58px;
    }

    .friendNums {
        font-size: 11px;
    }

    .my-logo {
        font-size: 14px;
        animation: none;
        top: 5px;
        right: 10px;
    }

    .buttonsDad {
        position: absolute;
        top: 480px;
        align-items: center;
    }
    .buttonsDad>button, .buttonsDad>a>button{
        font-size: 10px;
    }

    .bodyMediaFor {
        position: fixed;
        /* right: 0;
    bottom: 0; */
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        filter: blur(5px);
        width: auto;
        filter: blur(12px);
        height: auto;
        z-index: -100;
        /* Videoni barcha elementlardan orqaga o'tkazadi */
        object-fit: cover;
        /* Videoni cho'zib yubormasdan, fonga chiroyli moslaydi */
        background-size: cover;
    }
}
.FullScreenbtn:hover{
    background-color: #3d3d3d;
    color: white;
    border: white solid 1px;
    box-shadow: none;
}

.FullScreenbtn:active {
    background-color: grey;
    box-shadow: 0px 0px 10px 4px grey;
    color: black;

    border: none !important;
    border-right: solid grey 1px !important;
    border-bottom: solid grey 1px !important;
}

.sideIcon {
    display: block !important;
    opacity: 1 !important;
}



.fa-bars {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    font-size: 25px;
    border-radius: 12px;
    justify-content: center;
}

.inf {
    display: flex;
    gap: 10px;
    background: rgb(215, 212, 212);
    padding: 15px;
    border-radius: 12px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inf>div>h2 {
    font-size: 18px;
}

.inf>div>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inf>h2:nth-child(2) {
    font-weight: 900;
    text-decoration: underline #3d3d3d;
}



.bosilgandagiImg {
    position: relative;
}

@keyframes boxSHadowAnim {
    0% {
        border-right: solid red;
    }
    50% {
        box-shadow: 0px 0px 75px 2px grey;
        border-right: solid grey;
    }
    75% {
        box-shadow: 0px 0px 25px 2px white;
        border-right: solid white;
    }
    90% {
        box-shadow: 0px 0px 55px 2px gold;
        border-right: solid gold;
    }
    100% {
        border-right: solid red;
    }
}
.notifacetionhoverB {
    background-color: black !important;
    box-shadow: 0px 0px 10px 2px black !important;
    color: white !important;
}
.qaeXabW{
    position: absolute;
    top: 0;
    animation-name: qaeXabUchunAnim;
    animation-iteration-count: 1;
    animation-duration: 5s;
    right: 0;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.34s;
    color: white;
    opacity: 0;
}
@keyframes qaeXabUchunAnim {
    from{transform: translateY(-255px); user-select: none;}
    to{transform: translateY(255px); user-select: none;}
}
.qaeXab{
    font-size: 15px;
    justify-content: center;
    background-color: yellow;
    display: flex;
}
.notifacetion{
    position: absolute;
    z-index: 100;
    transition: 0.70s;
    border-radius: 15px;
    right: 0;
    bottom: 10px;
    
    box-shadow: 0px 0px 10px 2px white;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.notifText{
    width: 450px;
    text-align: center;
}